<form name="choosingUser" ng-submit="$ctrl.submit($ctrl.selectedUser,choosingUser.$valid)">
    <div class="modal-header">
        <h4 class="modal-title"> Choose team member</h4>
    </div>
    <div class="modal-body">
        <select class="form-control" ng-model="$ctrl.selectedUser" ng-options="user.name for user in $ctrl.users.byTeam[$ctrl.idTeam]" required></select>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  ng-disabled="choosingUser.$invalid">submit</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">cancel</button>
    </div>
</form>
