<form name="choosingUser" ng-submit="submit(selectedUser,choosingUser.$valid)">
    <div class="modal-header">
        <h4 class="modal-title"> Choose team member</h4>
    </div>
    <div class="modal-body">
        <select class="form-control" ng-model="selectedUser" ng-options="user.name for user in users" required>
            <!--<option value="user.id" ng-repeat="user in users">{{user.name}}</option>-->
        </select>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  ng-disabled="choosingUser.$invalid">submit</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">cancel</button>
    </div>
</form>
