<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav link">
                <li ng-repeat="team in $ctrl.teams">
                    <a ui-sref="team({id:team.id})">
                        {{team.name}}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" >
                        <span class="glyphicon glyphicon-plus" ng-click="$ctrl.addTeam()" uib-tooltip="Add new team"  tooltip-placement="auto"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ui-view></div>