html {
  min-height: 100%;
}

body {
  height: 600px;
}

#dashboard {
  margin: 20px;
  border: solid 3px #ccc;
  min-height: 100%;
}

.status-field {
  border: solid 1px #ccc;
  //height: 100%;

  .status-field-heading {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .status-field-body {
    height: 600px;
  }
  .status-field-footer {
    background: #ccc;
  }
  .as-sortable-dragging{

  }
  .as-sortable-drag{
    border: none !important;

  }
  .as-sortable-placeholder {
    border: none;
  }
  .as-sortable-item {
    border: none;
    min-width: 150px;
    width: 45%;
    float:left;
  }
}

